In [1]:
import numpy as np
import pandas as pd

In [2]:
# Load dataset.
csv_file = 'Telco-Customer-Churn.csv'
df = pd.read_csv(csv_file)
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

# Data Cleaning

In [3]:
# Remove id column
df = df.drop(['customerID'], axis=1)

In [4]:
# Inspect data types
df.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

## TotalCharges column contains empty rows

In [5]:
df[['tenure','MonthlyCharges','TotalCharges']].sort_values(by='TotalCharges')

      tenure  MonthlyCharges TotalCharges
936        0           80.85
3826       0           25.35
4380       0           20.00
753        0           20.25
5218       0           19.70
...      ...             ...          ...
6646      51           19.40       997.75
5598      55           19.15        998.1
3686      13           75.00       999.45
3353      12           85.05        999.8
2845      11           94.20        999.9

[7043 rows x 3 columns]

In [6]:
# TotalCharges is only blank when tenure is 0
# => fill with 0 is sufficient, tenure * monthlycharges is unnecessary
# unify datatypes
df['TotalCharges'] = df['TotalCharges'].replace(r'^\s*$', np.nan, regex=True).fillna(0.0)
df['TotalCharges'] = df['TotalCharges'].astype('float64')

## Feature columns contain redundant data

In [7]:
df['MultipleLines'].value_counts()

No                  3390
Yes                 2971
No phone service     682
Name: MultipleLines, dtype: int64

In [8]:
# Reducing complexity of Yes/No columns with redundant data
# Relabel Yes/No columns to 1/0
tf_cols = ['Partner', 'Dependents', 'PhoneService', 'MultipleLines','OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
           'TechSupport', 'StreamingTV', 'StreamingMovies', 'PaperlessBilling', 'Churn']

for col in tf_cols:
    df[col] = np.where(df[col] == 'Yes', 1, 0)

In [9]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,1,0,1,0,0,DSL,0,1,0,0,0,0,Month-to-month,1,Electronic check,29.85,29.85,0
1,Male,0,0,0,34,1,0,DSL,1,0,1,0,0,0,One year,0,Mailed check,56.95,1889.50,0
2,Male,0,0,0,2,1,0,DSL,1,1,0,0,0,0,Month-to-month,1,Mailed check,53.85,108.15,1
3,Male,0,0,0,45,0,0,DSL,1,0,1,1,0,0,One year,0,Bank transfer (automatic),42.30,1840.75,0
4,Female,0,0,0,2,1,0,Fiber optic,0,0,0,0,0,0,Month-to-month,1,Electronic check,70.70,151.65,1

In [10]:
df.to_csv('Telco-Customer-Churn-Cleaned.csv',index=False)